body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
}

.loading-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: #80808081;
  z-index: 100;
}

.loading {
  margin: 50% auto;
  padding: 0;
}

.loader {
  --w: 10ch;
  font-weight: bold;
  font-family: monospace;
  font-size: 30px;
  letter-spacing: var(--w);
  width: var(--w);
  overflow: hidden;
  white-space: nowrap;
  text-shadow:
    calc(-1*var(--w)) 0,
    calc(-2*var(--w)) 0,
    calc(-3*var(--w)) 0,
    calc(-4*var(--w)) 0,
    calc(-5*var(--w)) 0,
    calc(-6*var(--w)) 0,
    calc(-7*var(--w)) 0,
    calc(-8*var(--w)) 0,
    calc(-9*var(--w)) 0;
  animation: l16 2s infinite;
}

.loader:before {
  content: "Loading...";
}

@keyframes l16 {
  20% {
    text-shadow:
      calc(-1*var(--w)) 0,
      calc(-2*var(--w)) 0 red,
      calc(-3*var(--w)) 0,
      calc(-4*var(--w)) 0 #ffa516,
      calc(-5*var(--w)) 0 #63fff4,
      calc(-6*var(--w)) 0,
      calc(-7*var(--w)) 0,
      calc(-8*var(--w)) 0 green,
      calc(-9*var(--w)) 0;
  }

  40% {
    text-shadow:
      calc(-1*var(--w)) 0,
      calc(-2*var(--w)) 0 red,
      calc(-3*var(--w)) 0 #e945e9,
      calc(-4*var(--w)) 0,
      calc(-5*var(--w)) 0 green,
      calc(-6*var(--w)) 0 orange,
      calc(-7*var(--w)) 0,
      calc(-8*var(--w)) 0 green,
      calc(-9*var(--w)) 0;
  }

  60% {
    text-shadow:
      calc(-1*var(--w)) 0 lightblue,
      calc(-2*var(--w)) 0,
      calc(-3*var(--w)) 0 #e945e9,
      calc(-4*var(--w)) 0,
      calc(-5*var(--w)) 0 green,
      calc(-6*var(--w)) 0,
      calc(-7*var(--w)) 0 yellow,
      calc(-8*var(--w)) 0 #ffa516,
      calc(-9*var(--w)) 0 red;
  }

  80% {
    text-shadow:
      calc(-1*var(--w)) 0 lightblue,
      calc(-2*var(--w)) 0 yellow,
      calc(-3*var(--w)) 0 #63fff4,
      calc(-4*var(--w)) 0 #ffa516,
      calc(-5*var(--w)) 0 red,
      calc(-6*var(--w)) 0,
      calc(-7*var(--w)) 0 grey,
      calc(-8*var(--w)) 0 #63fff4,
      calc(-9*var(--w)) 0;
  }
}

/* CSS */
.button-85 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #00c13b;
  left: 0;
  top: 0;
  border-radius: 10px;
  color: white;
}